.playlist-creation-block{
  text-align: center;
}
.players {
  margin-top: 90px;
  .general-text{
    margin-bottom: 25px;
  }

  .players-body {

    .player {
      background: #F7FBFF;
      padding: 5px 33px;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 10px;
      .player-info{
        margin-bottom: 15px;
        .title {
          font-family: 'Muller';
          font-weight: 400;
          font-size: 20px;
          line-height: 25px;
          color: #3C4147;
          margin-bottom: 5px;

          .text-bold {
            font-weight: bold;
          }
        }
      }
      .player-download-window {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 15px 22px;
        display: flex;
        margin-bottom: 40px;
        -webkit-box-shadow: 0px 9px 15px 0px rgba(54, 56, 50, 0.10);
        -moz-box-shadow:    0px 9px 15px 0px rgba(54, 56, 50, 0.10);
        box-shadow:         0px 9px 15px 0px rgba(54, 56, 50, 0.10);
        .player-img{
          margin-top: 5px;
          margin-right: 15px;
        }

        .name-os {
          color: #3C4147;
          font-family: 'Muller';
          font-weight: 900;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
        }

        .os {
          padding: 0;
          margin: 0;
          color: #4096FF;
          font-family: 'Muller';
          font-weight: 900;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0;
          text-decoration: none;
          &.x{
            color: #02B7F1;
          }
        }
      }
    }
  }
}

@include tablet{
  .players{
    width: 500px;
    margin-left: 8%;
  }
}