.header {
  position: absolute;
  top: 0;
  z-index: 20;
  right: 0;
  left: 0;
  letter-spacing: 1.7px;
  line-height: normal;
  .active{
    background: #373C42;
    color: #fff;
    border-left: 3px solid $color-yellow;
  }

  .header-body {
    padding: 42px 0 50px 0;

    .menu-toggle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: 200ms linear;
      &.right{
        justify-content: flex-end;
      }
      .arrow{
        margin-top: 24px;
        margin-left: 14px;
      }
    }

    .navigation {
      background: #3C4147;
      position: absolute;
      left: 0;
      right: 0;
      top: -2000px;
      opacity: 0;
      z-index: -1;
      transition: 300ms ease-out;
      text-align: left;

      .user-block {
        display: flex;

        .user-info {
          margin-left: 10px;

          .user-pic {
            display: inline-block;
          }

          .username {
            font-family: 'Muller';
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
          }

          .user-mail {
            letter-spacing: 0;
            font-family: 'Muller';
            font-weight: 400;
            font-size: 12px;
            color: $color-yellow;
          }
        }
      }

      .ico {
        &::after {
          content: '';
          display: inline-block;
          height: 22px;
          width: 22px;

          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .main-ico {
        background-image: url('../images/main-ico.svg');
      }

      .playlists-ico {
        background-image: url('../images/playlist-ico.svg');
      }

      .help-ico {
        background-image: url('../images/help-ico.svg');
      }

      .search-ico {
        background-image: url('../images/search-ico.svg');
      }

      .institutions-ico {
        background-image: url('../images/institutions-ico.svg');
      }

      .advertising-ico {
        background-image: url('../images/advertising-ico.svg');
      }

      .settings-ico {
        background-image: url('../images/settings-ico.svg');
      }

      .close-toggler {
        padding: 13px;
        display: block;

        .toggler {
          position: absolute;
          right: 35px;
          top: 53px;
        }
      }

      .navigation-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .menu-item {
          padding: 17px 33px;
          list-style: none;
          position: relative;
          margin-right: -15px;
          margin-left: -15px;
          &.bb{
            margin-bottom: 23px;
          }
        }

        .menu-link {
          padding: 0 20px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
          color: #D8D8D8;
          font-family: 'Muller';
          font-weight: bold;
          font-size: 12px;

          &.active {
            color: #fff;
            border-left: none;
          }
        }

      }

    }
  }

  &.opened {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .navigation {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      overflow-y: scroll;
      opacity: 1;
      z-index: 1;
      padding: 35px 15px;
    }

    .menu-toggle {
      opacity: 0;
    }
  }
}
