.background-opacity {
  &.opened-modal {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    margin-top: -100px;
  }

}


.modal-box {
  position: absolute;
  z-index: 20;
  border-radius: 10px;
  top: -3000px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: 300ms;

  width: 330px;

  background: black;

  &.scroll {
    overflow-x: scroll;

    .modal-close {
      top: 18px;
      right: 25px;
    }

    .modal-head {
      padding: 0 20px;

      .big-title {
        margin: 0;
        padding: 0;
      }
    }
  }

  &.big-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;

    .modal {
      padding: 0;
    }

    &.opened-modal {
      top: 50%;

    }

    .modal-close {
      z-index: 10;
      top: 75px;
    }
  }

  .modal-head {
    text-align: center;
    &.head{
      padding: 0;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .logo {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        top: -50px;
        left: -50px;
        width: 105px;
        height: 40px;
        background: url('../images/logo.svg') center no-repeat;
      }
    }

    .big-title {
      margin-bottom: 16px;
    }
  }

  .modal-footer {
    margin-top: 40px;
    text-align: center;

    .button {
      font-size: 12px;
      line-height: 20px;
      padding: 10px 0;

    }
  }

  .modal-body {
    opacity: 1;

    .players {
      margin-top: 0;

      .general-text {
        text-align: center;
        margin: 0;

        .title {
          font-size: 13px;
          margin: 0;
          padding: 15px 0;
        }
      }

      .players-body {
        .player {
          background: #fff;

          .player-download-window {
            margin-bottom: 0;
          }
        }
      }
    }

    .templates {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;

      &.active {
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 18px;
          width: 61px;
          height: 61px;
          background: $color-yellow;
          border-radius: 50%;
          z-index: 10;
        }
      }

      .template-image {
        padding-bottom: 9px;
        padding-right: 9px;
      }
    }

    .form {
      .input-block {
        margin-bottom: 21px;
      }
    }
  }

  .modal-close {
    display: block;
    content: "";
    height: 16px;
    width: 16px;
    background: url("../images/close.svg") center no-repeat;
    cursor: pointer;
    position: absolute;

    top: 20px;
    right: 14px;
  }

  .modal {
    position: relative;
    padding: 34px 17px 28px 24px;

    .form {
      .sm-description {
        text-align: center;
        color: #8E99A6;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
        padding: 15px 20px;
      }
    }

    .asd {
      display: flex;


      .left {
        margin-right: 15px;
      }

      input {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #3C4147;
        width: 40px;
        height: 46px;
        text-align: center;
        border: 1px solid #E1E6EC;
        border-radius: 3px;
      }
    }
  }

  &.opened-modal {
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }
}

@include tablet {
  .modal-body {
    opacity: 1;

    .players {
      width: 290px;
    }

    .players-body {
      .player {
        background: #fff;

        .player-download-window {

        }
      }
    }
  }
}