.playlist-creation-block {
  margin-top: 92px;
  margin-bottom: 50px;
  text-align: center;

  .playlist-creation-body {
    .input {
      background: #F0F3F5;
      color: #E9E8E6;
      display: block;
      width: 100%;

      padding: 30px 10px 8px 15px;
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;
    }

    .description {
      padding: 0 15px;
      margin-bottom: 12px;
    }
  }
}

@include tablet {
  .playlist-creation-block {
    width: 500px;
    margin-left: 15%;
  }
}