.report-box {
  margin-top: 25px;
  .report-body {
    margin-bottom: 40px;

    .report {
      .song-name{
        margin-top: 10px;
        margin-bottom: 10px;
        .title{
          font-weight: bold;
          font-size: 13px;
          line-height: 20px;
          color: #3C4147;
        }
      }
      .executor-info{
        .sm-description{
          font-size: 13px;
          line-height: 20px;
        }
      }
      .left {
        margin-left: 7px;
      }
      .right{
        margin-left: -7px;
      }
      .title{
        margin: 0;
      }
    }
  }
}