
.button {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #3C4147;
  padding: 15px 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Muller';
  border: none;
  border-radius: 50px;
  display: inline-block;
  width: 100%;
  background: $color-yellow;

  &.dashed {
    border: 2px dashed $color-yellow;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}