@import "grid/main";
@import "slick/main";
@import "styles/support/normalize";
@import "styles/support/variables";
@import "styles/support/fonts";
@import "styles/support/mixins";
@import "styles/support/grid";
@import "styles/support/common";
@import "styles/support/slider";
@import "styles/support/buttons";
@import "styles/components/header";
@import "styles/components/playlists";
@import "styles/components/download_players";
@import "styles/components/category";
@import "styles/components/opened_playlist";
@import "styles/components/playlist_creation";
@import "styles/components/points";
@import "styles/components/shedule";
@import "styles/components/advertising";
@import "styles/components/tariffs";
@import "styles/components/blacklist";
@import "styles/components/company_settings";
@import "styles/components/address";
@import "styles/components/report";
@import "styles/components/connected-institution";
@import "styles/components/broadcast_point_cards";

html {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;

}

body {
  background: #fff;
  font-family: 'Muller';
  font-size: 12px;
  line-height: 15px;
  color: #8E99A6;
}

